*{
    box-sizing: border-box;
    background-color: whitesmoke;
}

img {
    width: 20%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.info {
    text-align: right;
    font-size: x-large;
    border: solid black;
    background-color: blue;
    text-shadow: 100% blue;
}

.about-me-1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.box {
    background-image: url(/images/photo-1460411794035-42aac080490a.jpg);
    padding: auto;
    height: auto;
    width: 1000px;
}

.back-end {
    padding-right: 200%;
    width: 400%;
    margin-top: 10%;
}